{% extends 'main/base.html' %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Сервера:</h1>
    {% if server_info %}
        {% for el in server_info %}
            <div class="alert-success mt-2">
                <h3>{{ el.name }}</h3>
                <p>IP_address: {{ el.ip_address }}</p>
                <p>Description: {{ el.description }}</p>
                <p>Status: {{ el.server_is_active }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Сервера отсутствуют!</p>
    {% endif %}
{% endblock %}